{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% block content %}
{% include "components/navbar.html" with active="/home" %}

<div class="container-fluid" id="site-section">
    <video autoplay muted loop id="myVideo">
      <source src="{% static 'video/glitch2.mp4' %}" type="video/mp4">
    </video>
    <div class="row align-items-center justify-content-center" id="homeContent">
        <div class="col-md-8">
            <ul class="list-group list-group-flush">
                <a href="{% url 'core:about' %}">
                    <li class="list-group-item lgiTrans">
                        About
                    </li>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'core:mixes' %}">
                    <li class="list-group-item lgiTrans">
                        Mixes / Tracks
                    </li>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'core:streams' %}">
                    <li class="list-group-item lgiTrans">
                        Stream
                    </li>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'core:social' %}">
                    <li class="list-group-item lgiTrans">
                        Socials
                    </li>
                </a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'core:contact' %}">
                    <li class="list-group-item lgiTrans">
                        Contact
                    </li>
                </a>
                <div class="dropdown-divider"></div>
            </ul>
        </div>
    </div>
</div>
<div class="mt-5 mb-4 pt-4 animate__animated animate__fadeIn">
    {% include "components/footer.html" %}
</div>


{% endblock %}