{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{%  block content %}

<!-- Image and text -->



<div class="container-fluid">
  <video autoplay muted loop id="myVideo">
    <source src="{% static 'video/glitch1.mp4' %}" type="video/mp4">
  </video>
  <div class="row align-items-center justify-content-center" id="land-cont">
    <div class="col-md-8 text-center m-0 p-0 fixed-top position-relative">
      <a class="animate__animated animate__fadeIn m-0 p-0" id="nextPage" href="{% url 'core:home' %}">
        <img src="{% static 'images/blkste2.svg' %}" alt=""/>
      </a>
    </div>
  </div>
</div>


{% endblock %}